.card {
  margin: 10px;
}

.cardColorIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer;
}

.todoTitle {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreBtn {
}

.todoCard {
  position: relative;
  width: 360px;
  min-height: 200px;
  padding: var(--card-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.2);
  border-radius: 8px;
  transition: all 0.2s;

  margin: 10px;
}

.todoCard {
  /* background: radial-gradient(#ccfbff, #a9e1ff); */
}

.todoCard:hover {
  box-shadow: 0px 6px 10px rgba(33, 36, 41, 0.3);
  transform: scale(1.01);
}

.cardTitle {
  font-size: 1.25rem;
  padding-left: 6px;
}

.editBtn {
  font-size: var(--md-font-size);
  color: var(--lightgray3);
  margin-left: 8px;

  background-color: transparent;
  border: none;
}

.editBtn:hover {
  color: var(--activeBlue);
}

.records {
  width: 100%;
  margin: 14px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bestRecord {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestRecordStat {
  width: 106px;
  height: 56px;

  background-color: white;
  border: 1px solid var(--lightgray1);

  border-radius: 8px;

  font-size: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grassContainer {
  display: grid;

  grid-template-columns: repeat(7, var(--grass-size));
  grid-template-rows: repeat(4, var(--grass-size));

  row-gap: 7px;
  column-gap: 7px;
}

.grassContainer > li {
  background-color: white;
  border: 1px solid var(--lightgray2);
  border-radius: 4px;
}

.commitBtn {
  width: 100%;
  background-color: var(--activeBlue);

  color: white;
}

.todoCard > .closeIcon {
  position: absolute;
  right: var(--card-padding);
  top: var(--card-padding);
  color: var(--lightgray2);
}
.todoCard > .closeIcon:hover {
  color: var(--activeBlue);
}

li.commit {
  background-color: cadetblue;
}
