.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 235px;
  background-color: white;

  padding: 50px;
  padding-bottom: 0;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.profileImg {
  width: 112px;
  height: 112px;

  border: 2px solid black;
  border-radius: 50%;

  margin-right: 23px;
}

.profileInfo {
  display: flex;

  align-items: center;
}

.profileName {
  margin-bottom: 12px;
}

.profileStats {
  display: flex;

  font-size: 12px;
  color: var(--lightgray1);
  color: var(--lightgray2);
}

.stat:not(:first-child) {
  margin-left: 55px;
}

.profileMore {
  display: flex;
}

.moreBtn {
  width: 48px;
  background-color: var(--lightgray2);
  color: white;
  margin-right: 8px;
}

.editProfileBtn {
  width: 182px;

  background-color: white;
  border: 1px solid var(--lightgray1);
  border: 1px solid var(--lightgray2);
}

/* tab navigator */
.tabNavigator {
  display: flex;
  padding-left: 10px;
}

.tablink {
  font-size: 16px;
  color: var(--lightgray1);
  color: var(--lightgray2);
  padding-bottom: 13px;
}

.tablink:not(:first-child) {
  margin-left: 62px;
}

.tablink.active {
  color: var(--black);
  border-bottom: 5px solid var(--activeBlue);
}
