.dashboard {
  position: relative;

  padding: 30px;
}

.addActionBtn {
  position: absolute;
  z-index: 99;
  top: -60px;
  right: 20px;

  width: var(--md-btn-width);
  background-color: var(--green);

  color: white;
}

.todoCards {
  display: flex;
  flex-wrap: wrap;
}
