.dashboard {
  position: relative;

  padding: 30px;
}

.addActionBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: var(--md-btn-width);
  background-color: var(--green);

  color: white;
}

.todoCards {
  display: grid;
}
