/* root */
:root {
  --black: #212429;
  --lightgray1: #acb5bd;
  --lightgray2: #dde2e5;
  --lightgray3: #f2f2f2;
  --activeBlue: #4263eb;
  --green: #51cf66;
  --pink: #f784ad;

  --md-btn-width: 182px;

  --lg-font-size: 28px;
  --md-font-size: 16px;
  --sm-font-size: 12px;
}

.lgFont {
  font-size: var(--lg-font-size);
}

.indexText {
  margin-bottom: 4px;

  font-size: var(--sm-font-size);
  color: var(--lightgray2);
}

.btn {
  height: 48px;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;

  border: none;
  border-radius: 8px;
}

.textInput {
  width: 100%;
  height: 50px;

  border: 1px solid var(--lightgray2);
  border-radius: 4px;

  padding: 13px 16px;
  background-color: white;

  margin-top: 16px;
}

.textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  overflow: auto hidden;

  padding: 13px 16px;
  border: 1px solid var(--lightgray2);
  border-radius: 4px;
}

.errorMsg {
  font-size: 12px;
  color: red;
}

.loginBtn {
  width: 360px;
  background-color: var(--activeBlue);

  color: white;

  border-radius: 4px;

  margin-top: 15px;
}
