@import "./common.module.css";

.container {
  width: 960px;
  height: 640px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
    0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 4px;

  padding: 186px 300px;
}

.containerTitle {
  align-self: flex-start;
}

.bg {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightgray3);
}
.loginForm {
  display: flex;
  flex-direction: column;
}

.textInput {
  width: 360px;
  height: 50px;

  border: 1px solid var(--lightgray2);
  border-radius: 4px;

  padding: 13px 16px;
  background-color: white;

  margin-top: 16px;
}

.notification {
  align-self: flex-end;
}
.notification > a {
  text-decoration: underline;
  margin-left: 5px;
}

.loginBtn {
  width: 360px;
  background-color: var(--activeBlue);

  color: white;

  border-radius: 4px;

  margin-top: 15px;
}

.errorMsg {
  font-size: 12px;
  color: red;
}
